$main-color: #000000;
$secondary-color: #ffffff;
$bg-color: #eef1f2;
$btn-main-color: #2f3b46;
$btn-secondary-color: #b3cad2;
$border-main-color: #b7cdd4;
$border-secondary-color: #cdd7db;

$mobile-width: 480px;
$tablet-width: 880px;
