.tariffs {

  &__inner {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    flex: 1 1 185px;
    padding-top: 30px;
    padding-bottom: 38px;
    padding-left: 27px;
    padding-right: 10px;
    margin-left: -10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-color: $secondary-color;
    box-shadow: 0px 45px 154.85px 8.15px rgba($border-main-color, 0.42);

    &:nth-child(4n+1) {
      margin-left: 0;
    }
  }

  &__title {
    position: relative;
    display: inline-block;
    padding-right: 3px;
    margin-top: 0;
    margin-bottom: 60px;
    font-size: 25px;
    line-height: 31px;

    &--active::after {
      content: "";
      position: absolute;
      right: 0px;
      top: 0px;
      transform: translateX(100%);
      background-image: url(../img/sprite-check.svg);
      width: 28px;
      background-repeat: no-repeat;
      height: 100%;
      display: block;
    }
  }

  &__price {
    font-size: 25px;
    line-height: 31px;
    margin: 0;
  }

  &__text {
    margin: 0;
    font-size: 12px;
    line-height: 20px;
  }

  &__list {
    margin-top: 0;
    margin-bottom: 33px;
    padding: 0;
    font-size: 12px;
    list-style: none;
  }

  &__link {
    display: inline-block;
    padding: 10px 42px;
    border: 2px solid $main-color;
    border-radius: 50px;
    font-size: 12px;
    letter-spacing: 2px;
    color: $main-color;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s linear;

    &:hover {
      color: $secondary-color;
      background-color: $btn-main-color;
    }
  }
}


@media (max-width: $tablet-width) {
  .tariffs__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-bottom: 30px;
    padding-right: 27px;
    padding-bottom: 30px;
    border-radius: 10px;
    box-shadow: -6px 7px 17px 8.15px rgba($border-main-color, 0.42);
  }

  .tariffs__title {
    margin-bottom: 30px;
  }
}

@media (max-width: $mobile-width) {
  .tariffs__item:last-child {
    margin-bottom: 0;
  }
}
